name: lifesync
description: "Student wellness app"
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.7

dependencies:
  fl_chart: ^1.1.1
  flutter:
    sdk: flutter
  flutter_svg: ^2.2.3
  intl: ^0.20.2
  material_symbols_icons: ^4.2892.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
